/* Small Devices and tablets */
@media screen and (max-width : 768px) {
  nav {
    position: relative;
  }

  nav ul {
    perspective: 150px;
    position: fixed;
    float: none;
    margin-right: 0;
    background-color: #222;
    height: 100vh;
    width: 100%;
    left: 100%;
    transition: all 0.5s ease-in-out;
  }

  nav ul.is-visible {
    left: 0;
  }

  /* Slide in from top
  nav.fixed ul {
    bottom: 100vh;
  }

  nav.fixed ul.is-visible {
    bottom: -100vh;
  }*/

  nav ul li {
    display: block;
    height: 58px;
    width: 100%;
    padding-left: 100%;
    transition: padding-left 0.3s ease-in-out;
  }

  nav ul.is-visible li {
    padding-left: 0;
    transition: padding-left 0.5s ease-in-out;
  }
}
