@import url(https://fonts.googleapis.com/css?family=Hind); /* Body Font */
@import url(https://fonts.googleapis.com/css?family=Nobile); /* Heading Font */

@import url(link-animations.css);
@import url(menu-icon.css);
@import url(navbar-mobile-animation.css);

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Hind', sans-serif;
  font-size: 18px;
}

h1 {
  color: #555;
  font-family: 'Nobile', sans-serif;
  font-size: 175%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 3% 0;
}
h3 {
  color: #555;
  font-family: 'Nobile', sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1%;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  color: #555;
  padding: 2% 0;
  text-align: justify;
}
img {
  max-width: 100%;
  height: auto;
  opacity: 0;
  animation: fadeIn 1.0s ease 200ms forwards;
}

.upper-container {
  color: #eee;
  background-color: #222;
  float: left;
  width: 100%;
  box-shadow: 0 8px 6px -6px #999;
}

.wrapper {
  overflow: hidden;
  max-width: 1280px;
  margin: 0 auto;
}
.full {
  float: left;
  width: 92%;
  margin: 2% 4% 3% 4%;
}
.one-half {
  float: left;
  width: 44%;
  margin: 2% 0 3% 4%;
}
.one-third {
  float: left;
  width: 28%;
  margin: 3% 0 3% 4%;
}
.col {
  float: left;
  width: 60%;
  margin: 4% 0 4% 4%;
}
.sidebar {
  float: left;
  width: 26%;
  margin: 4% 4%;
}
.clearfix {
  clear: both;
}

.parallax {
  overflow: hidden;
  background: white repeat fixed 100%;
  box-shadow: inset 0 15px 15px -10px #333, inset 0 -15px 15px -10px #333;
  opacity: 0;
  animation: fadeIn 200ms ease 200ms forwards;
}
.parallax h3, .parallax p {
  color: #eee;
  text-shadow: 2px 2px 4px #000000;
}

.aspect {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 2%;
}
.aspect-16x9 {
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.aspect-4x3 {
  padding-top: 75%; /* 4:3 Aspect Ratio */
}
.aspect-3x4 {
  padding-top: 125%; /* 3:4 Aspect Ratio */
}
.aspect img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.aspect img.tall {
  max-width: none;
  max-height: 100%;
}

.panel {
	transition: all .8s ease-in-out;
}

header {
  float: left;
  width: 26%;
  padding-left: 4%;
  line-height: 4em;
  font-size: 2em;
  white-space: nowrap;
}

footer {
  display: none;
  float: left;
  color: #eee;
  background-color: #222;
  text-align: center;
  width: 92%;
  padding: 2em 4%;
  line-height: 2em;
}

nav {
  float: left;
  width: 70%;
  padding: 50px 0;
  opacity: 0.98;
}

nav ul {
  text-align: center;
  float: right;
  margin-right: 4%;
}

nav ul li {
  display: block;
  float: left;
}

nav ul li a {
  display: block;
  padding: 15px;
}

nav .handle {
  display: none;
}

/* Keyframes */

@keyframes fadeIn {
  to {
     opacity: 1;
   }
}

/* Small Devices and tablets */
@media screen and (max-width : 768px) {
  h1 {
    font-size: 125%;
  }

  .upper-container {
    background: #222;
  }

  .full, .one-half, .one-third, .col, .sidebar {
    width: 92%;
    margin: 4% 4%;
  }

  header {
    text-align: center;
    width: 92%;
    padding: 0 4%;
  }

  nav {
    padding: 0;
    width: 100%;
    background: none;
    box-shadow: 0 8px 6px -6px #999;
  }

  nav.fixed {
    position: fixed;
    top: 0;
    z-index: 100;
  }

  nav .handle {
    display: block;
    text-align: left;
    color: #eee;
    background-color: #222;
    width: 92%;
    padding: 15px 4%;
    border-bottom: thick solid khaki;
  }

  nav ul {
    perspective: 150px;
    background-color: white;
    float: none;
    margin-right: 0;
    position: absolute;
    width: 100%;
  }

  nav ul li {
    display: block;
    background: #222;
    overflow: hidden;
    line-height: 58px;
    height: 0;
    width: 100%;
    padding: 0;
    transform-origin: top;
    transform: rotateX(-70deg);
  }

  nav ul.is-visible li {
    transform: rotateX(0deg);
    height: 58px;
    transition: transform 0.15s cubic-bezier(0.7,0,0.1,2), height 0.1s linear;
  }

  nav ul li a {
    padding: 0;
  }
}
