* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  position: relative;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.upper-container {
  color: #eee;
  background-color: #222;
  float: left;
  width: 100%;
}

header.brand {
  float: left;
  width: 26%;
  padding-left: 4%;
  line-height: 4em;
  font-size: 2em;
}

nav {
  float: left;
  width: 70%;
  padding: 50px 0;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
  padding: 15px;
  /*cursor: pointer;*/
}

nav ul li:hover {
  color: #222;
  background-color: khaki;
}

nav .handle {
  display: none;
}

/* Small Devices and tablets */
@media screen and (max-width : 768px) {
  .upper-container {
    background: #222;
  }

  header.brand {
    text-align: center;
    width: 92%;
    padding: 0 4% 0 4%;
  }

  nav {
    padding: 0;
    width: 100%;
    background: white;
  }

  nav.fixed {
    position: fixed;
    top: 0;
    /*z-index: 100;*/
  }

  nav .handle {
    display: block;
    text-align: left;
    color: #eee;
    background-color: #222;
    width: 100%;
    padding: 15px 4%;
    border-bottom: thick solid khaki;
  }

  nav ul {
    perspective: 150px;
    /*background: none;*/
    background-color: green;
  }

  nav ul li {
    display: block;
    background: #222;
    overflow: hidden;
    line-height: 58px;
    height: 0;
    width: 100%;
    padding: 0;
    transform-origin: top;
    transform: rotateX(-70deg);
  }

  nav ul li:nth-child(1) {
    transition: transform 0.25s cubic-bezier(0.9,-1,0.3,1) 1.0s, height 0.1s linear 1.15s;
  }
  nav ul li:nth-child(2) {
    transition: transform 0.25s cubic-bezier(0.9,-1,0.3,1) 0.8s, height 0.1s linear 0.95s;
  }
  nav ul li:nth-child(3) {
    transition: transform 0.25s cubic-bezier(0.9,-1,0.3,1) 0.6s, height 0.1s linear 0.75s;
  }
  nav ul li:nth-child(4) {
    transition: transform 0.25s cubic-bezier(0.9,-1,0.3,1) 0.4s, height 0.1s linear 0.55s;
  }
  nav ul li:nth-child(5) {
    transition: transform 0.25s cubic-bezier(0.9,-1,0.3,1) 0.2s, height 0.1s linear 0.35s;
  }
  nav ul li:nth-child(6) {
    transition: transform 0.25s cubic-bezier(0.9,-1,0.3,1), height 0.1s linear 0.15s;
  }

  nav ul.is-visible li {
    transform: rotateX(0deg);
    height: 58px;
    transition: transform 0.25s cubic-bezier(0.7,0,0.1,2), height 0.1s linear;
  }
  nav ul.is-visible li:nth-child(2) {
    transition: transform 0.25s cubic-bezier(0.7,0,0.1,2) 0.2s, height 0.1s linear 0.2s;
  }
  nav ul.is-visible li:nth-child(3) {
    transition: transform 0.25s cubic-bezier(0.7,0,0.1,2) 0.4s, height 0.1s linear 0.4s;
  }
  nav ul.is-visible li:nth-child(4) {
    transition: transform 0.25s cubic-bezier(0.7,0,0.1,2) 0.6s, height 0.1s linear 0.6s;
  }
  nav ul.is-visible li:nth-child(5) {
    transition: transform 0.25s cubic-bezier(0.7,0,0.1,2) 0.8s, height 0.1s linear 0.8s;
  }
  nav ul.is-visible li:nth-child(6) {
    transition: transform 0.25s cubic-bezier(0.7,0,0.1,2) 1.0s, height 0.1s linear 1.0s;
  }
}
